<h1>Homepage</h1>
<h1>New Recipe Page</h1>

<form style=”display:flex; flex-direction: column;align-items: start;” method=”POST” action= “/createRecipe”> 
<label> Title: 
<input name=”title” /> </label>
<label> Cooking time: <input type=”number”/> </label> 
<label> Ingredients: <input placeholder=”enter a title”/> </label> 
<label> Difficulty<input placeholder=”enter a title”/> </label> 
<button type=”submit”> Create recipe </button> 
</form>